{% extends 'base.html' %}

{% block title %}Create a new post{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        <h2 class="form-signin-heading">Create A New Post!</h2>
        <label for="body">Content</label>
        <textarea class="form-control" name="body" id="body" rows="6">{{ request.form['body'] }}</textarea>
        <label for="tags">Tags (separate each tag with a comma)</label>
        <textarea class="form-control" name="tags" id="tags" rows="3">{{ request.form['tags'] }}</textarea>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Post</button>
    </form>
</div>
{% endblock %}